<nav class="navbar bg-body-tertiary border border-1">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <h6>GNIM</h6>
      </a>
      <div class="navbar-search d-flex">
          <div class="input-group ">
              <input  type="text" class="form-control" placeholder="Rechercher..." />
              <button  type="button" class="btn btn-primary btn-sm">
                  <fa-icon [icon]="faSearch"></fa-icon>
              </button>
          </div>
          <div class="btn btn-outline-secondary btn-sm" type="button">Recherche avancé</div>  
        </div>
      <div class="navbar-actions  "> 
          <button class="btn btn-outline-primary btn-sm" type="button">Se déconnecter</button> 
          <button class="btn btn-outline-primary btn-sm" type="button">User Name</button> 
      </div>
  </div>
</nav>
